@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*,*::after,*::before{
margin: 0;
padding: 0;
box-sizing: border-box;
}

html{
font-size: 16px;
}

a{
text-decoration: none;
}

ul li{
list-style-type: none;
}

img{
width: 100%;
height: auto;
}

:root{
--Background-color:#0f0f0f;
--Main-heading-color:#0f0f0f;
--Pragraph-font-color:#495057;
--paragraph:#adb5bd;
--Bg-primary-color:#fffafb;
--Font-highlight:#c81d25;
--WhatsApp-color:#38b000;
}

body {
font-family: 'Roboto', sans-serif;
background-color: var(--Bg-primary-color);
}


/* Navbar */
.navbar {
width: 100%;
height: 5vh;
}

.nav_left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-top: 1.5rem;
  padding-left: 0.6rem;
}

.nav_left img {
  width: 2.5rem;
  border-radius: 50px;
}

.navbar h2 a{
    color: var(--Font-highlight);
    letter-spacing: 1px;
    font-size: 1.3rem;
    cursor: pointer;
}

.btn {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    position: fixed;
    right: 0.8rem;
    margin-top: -1.5rem;
    z-index: 1;
}

.btn .menu_btn {
    display: block;
    width: 1.8rem;
    height: 0.2rem;
    background-color: var(--Background-color);
    border-radius: 3px;
    position: relative;
    transition: 0.2s;
}

.btn.active .menu_btn:nth-child(2){
    display: none;
}

.btn.active .menu_btn:nth-child(1){
transform: translateY(8px) rotate(45deg);
}

.btn.active .menu_btn:nth-child(3){
transform: rotate(-45deg);
}

.menu {
position: fixed;
top: 0;
right: 101%;
transition: 1s;
background-color: var(--Bg-primary-color);
width: 80%;
height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
z-index: 1;
box-shadow: -2px -2px 10px rgba(0,0,0,0.2);
}

.menu.view{
right: 30%;
}

.menu img{
    width: 10rem;
    border-radius: 50%;
    border: 5px solid var(--Font-highlight);
    margin-top: 1rem;
}

.menu ul{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.menu ul li {
    border: 2px solid var(--Font-highlight);
    padding: 0.5rem 2rem;
    border-radius: 20px;
}

.menu ul li:hover {
    background-color: var(--Font-highlight);
}

.menu ul li:hover a{
    color: var(--Bg-primary-color);
}

.menu ul li a{
    color: var(--Background-color);
    font-size:1.5rem;
}


/* Header */

.header {
    width: 100%;
    height: 95vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header_title {
    font-size: 2.2rem;
    font-weight: 900;
    letter-spacing: 5px;
    margin-bottom: 1rem;
}

.header_title span {
    font-size: 2.5rem;
}

.header_description {
    font-size: 1.1rem;
    width: 85%;
    line-height: 25px;
    letter-spacing: 1px;
    margin-bottom: 1.5rem;
    color: var(--Pragraph-font-color);
}

.header .project_btn {
cursor: pointer;
padding: 0.6rem 2rem;
border: none;
border-radius: 30px;
background-color: var(--Font-highlight);
font-size: 1rem;
}

.header .project_btn a{
  color: var(--Bg-primary-color);
}

.project_btn a{
  cursor: pointer;
}


/* About Me */

.about_me {
    width: 100%;
    height: 100vh;
    margin-bottom: 2rem;
    background-color: var(--Background-color);
    transition: 1s;
}

.about_me .title{
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
    padding: 1.5rem 0 0.5rem 0;
    position: relative;
}

.about_me p{
width: 90%;
margin: auto;
text-align: left;
letter-spacing: 1px;
padding: 0 20px;
color: var(--paragraph);
padding-right: 1rem;
}

.about_me h2 {
  text-align: center;
  color: var(--Bg-primary-color);
  font-size: 1.5rem;
}

.my_skill h2{
  margin-bottom: 0.2rem;

}

.about_me .skills {
width: 90%;
display: grid;
grid-template-columns: repeat(4,1fr);
gap: 0.2rem;
margin: auto;
text-align: center;
}

.about_me .skills li img {
  border-radius: 10%;
  width: 3rem;
}

.about_me .skills li {
padding: 0.3rem 0.2rem;
border: 2px solid var(--Bg-primary-color);
margin: 0.5rem;
border-radius: 5px;
border: none;
color:var(--Bg-primary-color);
}


/* Projects  */

.projects {
text-align: center;
width: 100%;
margin-bottom: 3rem;
transition: 1s;
}

.project_container {
    display: grid;
    place-items: center;
    gap: 2rem;
    width: 90%;
    margin: auto;
    margin-top: 1.5rem;
}

.project_container li img{
  border-radius: 15px;
}

.project_container li a {
  color: var(--Background-color);
  border-bottom: 3px solid var(--Font-highlight);
  transition: 0.3s;
}

.project_container li a:hover {
  color: var(--Font-highlight);
  border-bottom: 3px solid var(--Background-color);
}